.vscode/**
.vscode-test/**
.vscode-test.mjs
.github/**
docs/**
out/**
node_modules/**
src/**
test/**
.editorconfig
.gitignore
CLAUDE.md
esbuild.mjs
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
